# Tuplas

In [1]:
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = 4,5,6,(7,8)

In [4]:
nested_tup

(4, 5, 6, (7, 8))

In [5]:
array = [4, 0, 1]
tuple(array)

(4, 0, 1)

In [6]:
new_tup = tuple('string')
new_tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
new_tup[0]

's'

In [8]:
tup = tuple(['foo', [1,2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [12]:
(4, None, 'foo') + (10, 2) + ('bar', ) #Não pode esquecer a vírgula

(4, None, 'foo', 10, 2, 'bar')

In [13]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [14]:
tup = (4, 5, 6)
a, b, c = tup
a

4

In [16]:
tup = 4,5, (6,7)
a,b, (c,d) = tup
print('Valores de C = {0} e D = {1}'.format(c, d))

Valores de C = 6 e D = 7

## Descompactando tuplas

In [17]:
seq = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [24]:
values = 1,2,3,4,5
a,b, *rest = values # *rest remove da tupla

#Não precisa ser necessariamente a palavra rest, basta que a variável possua um _

print('a = {0}, b = {1}, *rest = {2}'.format(a, b, rest))

a = 1, b = 2, *rest = [3, 4, 5]

## Listas

In [27]:
gen = range(10)

In [28]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
tup = 'foo', 'bar', 'baz'
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [31]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [33]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf', 'dwarf']

In [34]:
b_list.insert(0, 'blue')
b_list

['blue', 'foo', 'peekaboo', 'baz', 'dwarf', 'dwarf']

In [35]:
b_list.pop(2)

'peekaboo'

In [37]:
b_list

['blue', 'foo', 'baz', 'dwarf', 'dwarf']

In [38]:
b_list.remove('foo')

In [39]:
b_list

['blue', 'baz', 'dwarf', 'dwarf']

In [41]:
'dwarf' in b_list

True

In [42]:
x = [4, None, 'foo']

In [44]:
x.extend([6, 9, 2, 24, 'Mmms', (5,2)])
x

[4, None, 'foo', 6, 9, 2, 24, 'Mmms', (5, 2)]

In [46]:
everything = []
for chunk in x:
    everything.extend(chunk)

TypeError: 'int' object is not iterable