In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('../../datasets/kaggle/california_housing_train.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [5]:
tuple = "a", "b", "c"

In [6]:
tuple[-1]

'c'

In [7]:
A=((11,12),[21,22])

In [8]:
A[0][1]

12

In [9]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [10]:
dado = [
]

In [11]:
dado.append(['a', 'b'])

In [14]:
len(dado)

1

In [15]:
dado1 = dado[:]

In [16]:
dado1

[['a', 'b']]

In [17]:
dado

[['a', 'b']]

In [18]:
A

((11, 12), [21, 22])

In [19]:
len(A)

2

In [20]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

In [21]:
Dict["D"]

(4, 4, 4)